
/* navbar started  */
a{
    text-decoration: none;
    color: #ffffff;
}

.logo{
    width: 165px;
    
}
.franchise-btn{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px;
}
.order-online-btn{
    font-size: 15px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 15px;
}
.arrow-icon{
    border-radius: 20px;
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px;
}
.menu{
    display: none;
}
/* navbar ended  */

/* container started  */
.container{
    width: 100%;
}
/* container ended  */

/* main started  */
/* section 01  */
.order-btn{
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    margin: 10px 65px ;
    width: 174px;
}

















@media(max-width: 991px){
    .menu{
        display: block;
    }
    .nav-text{
        display: none;
    }
    .franchise-btn{
        display: none;
    }
    .container{
        width: 300%;
    }

}

