
/* navbar started  */
a{
    text-decoration: none;
    color: #ffffff;
}

.franchise-btn{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px;
}
.order-online-btn{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 15px;
}
.arrow-icon{
    border-radius: 20px;
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px;
}
.menu{
    display: none;
}
/* navbar ended  */

/* container started  */
.container{
    width: 100%;
}
/* container ended  */

/* main started  */
/* section 01  */
.order-btn{
    display: block;
    text-align: center;
}

















@media(max-width: 991px){
    .menu{
        display: block;
    }
    a{
        display: none;
    }
    .franchise-btn{
        display: none;
    }
}
@media(max-width: 400px){
    .order-online-btn{
        display: none;
    }
}